.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@font-face /*perintah untuk memanggil font eksternal*/
{
    font-family: 'Colonna MT'; /*memberikan nama bebas untuk font*/
    src: url('../ColonnaMT.ttf');/*memanggil file font eksternalnya di folder nexa*/
}

.underline {
    text-decoration: none;

}

h1 {
    font-family: 'Colonna MT';
}